* {
  box-sizing: border-box;
  margin: 0;
}

html, body {
  font-family: 'Poppins', sans-serif;
}

/* Header */

header {
  padding: 22px 30px;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.1);
}

.navbar--logo-img {
  width: 82px;
}

/* Hero */
.hero {
  padding: 26px 36px;
  display: flex;
  flex-direction: column;
}

.hero--img {
  width: 60vw;
  max-width: 400px;
  margin-inline: auto;
  margin-bottom: 32px;
}

.hero--h1 {
  font-size: 36px;
  margin-bottom: 16px;
}

.hero > p {
  font-size: 16px;
  max-width: 320px;
  font-weight: 300;
}

/* Card */
.card {
  width: 176px;
  font-size: .75rem;
  font-weight: 300;
  line-height: 1.65;
  color: #222222;
}

.card--img {
  width: 100%;
  border-radius: 9px;
}

.card--first-line {
  display: flex;
  align-items: center;
}

.card > h2 {
  font-size: .75rem;
  font-weight: 300;
}

.card--star-icon {
  width: 14px;
  margin-right: 4px;
}

/* Utility */
.grey {
  color: #918E9B;
}

.bold {
  font-weight: 600;
}